@model List<Testimonial>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Blog</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> #</th>
                        <th>İsim Soyisim</th>
                        <th>Yorum</th>                       
                        <th>Sil</th>
                        <th>Detay</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td> @count</td>                          
                            <td>@item.NameSurname</td>
                            <td>@item.Description</td>
                            <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-gradient-danger btn-rounded btn-fw">Sil</a></td>
                            <td><a href="/Testimonial/TestimonialDetail/@item.TestimonialID" class="btn btn-gradient-success btn-rounded btn-fw">Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <a href="/Testimonial/CreateTestimonial/" class="btn btn-gradient-primary btn-rounded btn-fw"></i> Yeni Referans Girişi</a>
        </div>

    </div>
</div>

