@model List<Subscribe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Aboneler</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> #</th>
                        <th>Mail</th>                    
                        <th>Sil</th>
                        <th>Güncelle</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td> @count</td>
                            <td>@item.Email</td>
                            <td><a href="/Subscribe/DeleteSubscribe/@item.SubscribeID" class="btn btn-gradient-danger btn-rounded btn-fw">Sil</a></td>
                            <td><a href="/Subscribe/UpdateSubscribe/@item.SubscribeID" class="btn btn-gradient-success btn-rounded btn-fw">Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <a href="/Subscribe/CreateSubscribe/" class="btn btn-gradient-primary btn-rounded btn-fw"></i> Yeni Abone Girişi</a>
        </div>

    </div>
</div>